@import '../../../styles/mixins';
@import '../../../styles/variables';


.modalContainer {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);

    .closeButton {
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1001;
        color: $primary-color;
        font-size: 2.3rem;

        &:active {
            transform: scale(0.95);
        }
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        width: 30rem;
        height: 100vh;
        background-color: $background-modal;
        z-index: 1000;
        padding: 0.7rem;
        transition: transform 0.5s ease-in-out;
    }

    .formContainer.hidden {
        transform: translateX(100%);
    }
}

.buttons{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}