@import '../../../styles/variables';
@import '../../../styles/mixins';

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

    .spinner {
        border: 0.8rem solid $white-color;
        border-top: 0.8rem solid $turquoise-color;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        animation: spin 2s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}