@import '../../../styles/variables';

.navContainer{
    justify-content: space-between;
    display: flex;
    padding: 0 6rem;
    align-items: center;
    height: 5.5rem;
    background-color: $primary-color;

    .link{
        .image{
            width: 14rem;
        }
    }
}

@media (max-width: 768px) {
    .title{
        font-size: 1.1rem;
    }
}